@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

* {
    font-family: "Segoe UI";
    color: rgb(60, 60, 60);
}


.container {
    width: 100%;
    height: 1200px;
}


/* 바디 */
.content {
 
	display: flex;
	width: 1280px;
	margin: auto;
	flex-direction: column;
    align-items: center;

}

.top {
    height: 100px;
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    margin: auto;
    margin-top: 30px;
    
  }

/* 가이드 */
.guide {
    height: 100px;
    width: 1300px;
    margin: auto;
    font-size: 20px;
    border-radius: 7px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 220, 244);
    font-weight: bold;


}

/* 가이드 내용 */
#pre {
    text-align: center;
    position: relative;
    width: 90%;
}


/* 이미지 선택 버튼 없애기 */
#image {
    display: none;
}

/* 이미지 선택 버튼 커스텀마이징 */
.image {

    width: 85px;
    height: 28px;
    font-size: 14px;
    font-weight: bold;
    float: right;
    background-color: rgb(0, 220, 244);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px;
}


/* 게시글 제목칸 */
.title {
    height: 100px;
    width: 1300px;
    margin: auto;
    margin-top: 20px;
    border-radius: 7px;
    outline: none;

}

/* 게시글 제목 포커스 시 테두리 없애기 */
#title:focus {
    outline: none;
}


/* 제목 */
#title {
    width: 99%;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    border: 3px solid #ddd;
}

#title:hover {
    border: 3px solid rgb(0, 220, 244);
}

/* 내용칸 */
.detail {
    width: 1300px;
    height: 450px;
    margin: auto;
}


/* 게시글 이미지 선택 */
.title>p {
    margin-top: 10px;
    float: right;
}

/* textarea */
#detail {
    width: 100%;
    height: 450px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
    border: 3px solid #ddd;
}

#detail:hover {
    border: 3px solid rgb(0, 220, 244);
}

/* 게시글 내용 포커스 시 테두리 없애기 */
#detail:focus {
    outline: none;
}

/* 작성 완료 칸 */
.btn {
    width: 1300px;
    height: 150px;
    border-top: 3px solid #ddd;
    margin: auto;
    margin-top: 80px;
}

/* 작성완료 버튼 */
#btn {
    width: 85px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    float: right;
    margin-top: 30px;
    background-color: rgb(0, 220, 244);
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

#btn:hover {
    color: rgb(0, 220, 244);
    background-color: white;
    border: 2px solid rgb(0, 220, 244);
}

#counter {
    font-size: 30px;
}